/* 将编辑器的宽高设定放在具体页面下 */
.bytemd {
  /* height: 88vh; */
}

/* 去除 github 仓库图标的展示 */
.bytemd-toolbar-right > div[bytemd-tippy-path="5"] {
  display: none;
}

/* 全屏样式设置堆叠层级 */
.bytemd-fullscreen {
  z-index: 996;
}

/* 图片宽度设定为 400 */
.markdown-body img {
  width: 400px;
}

/* 调整全屏查看图片堆叠层级 */
.medium-zoom--opened .medium-zoom-overlay {
  z-index: 998;
}

.medium-zoom-image--opened {
  z-index: 999;
}
