.task-container {
  position: relative;
  margin-bottom: 1em;
}

.cloak {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: #ddd;
  transition: opacity .3s ease;
}

.cloak div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  writing-mode: vertical-lr;
  cursor: pointer;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 16px;
  color: #1a2a3a;
  transition: flex .5s ease;
}

.cloak div:hover {
  flex: 1.5;
  background: #fff;
}

.task-container:hover .cloak {
  opacity: .9;
}

.project-title {
  width: 100%;
}

.project-title span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.project-header {
  padding: 0 8px;
  height: 41px;
  border-bottom: 1px solid rgb(204, 204, 204);
  overflow: hidden;
}

.project-submenu {
  display: flex;
  align-items: center;
  padding: 0 8px;
  height: 41px;
  overflow: hidden;
}

.project-submenu-box div {
  cursor: pointer;
  margin: 0 3px;
}

.project-submenu-box div:hover,
.current-submenu-1 div:nth-of-type(1),
.current-submenu-2 div:nth-of-type(2),
.current-submenu-3 div:nth-of-type(3),
.current-submenu-4 div:nth-of-type(4),
.current-submenu-5 div:nth-of-type(5) {
  color: #009688;
}
