ul,
li {
  list-style: none;
}

.overview-table li {
  text-indent: 1em;
  white-space: nowrap;
}

.overview-table li:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
}

.overview-table li > span {
  text-indent: 0;
}


