.filter-bar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 9;
}

.overview-table {
  margin-top: 47px;
  height: calc(100% - 47px);
  cursor: default;
  overflow: auto;
}

.overview-table .project-title:hover {
  text-decoration: underline;
}

.overview-table .table th,
.overview-table .table td {
  vertical-align: baseline;
}

.overview-table ul {
  list-style: none;
}

.overview-table .describe-item > li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc((100vw - 87px) * 0.7);
}

.overview-table .describe-item > li:hover::before {
  border: 1px solid #1fbb7d;
}

.overview-table li {
  position: relative;
  line-height: 2;
  padding: 0 .5em;
  word-break: break-all;
  white-space: pre-line;
}

.overview-table li:not(:last-of-type) {
  border-bottom: 1px solid #e6e6e6;
}

.overview-table li > span {
  text-indent: 0;
  overflow: hidden;
}

.overview-gantt {
  margin-top: calc(1rem + 47px);
}

.overview-gantt .svg-autoFit {
  padding: 0 .5em;
  text-align: center;
  color: #a7a7a7;
}

@media screen and (max-width: 1280px) {
  .overview-table li {
    padding: 0 .2em;
  }
}


